/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  font-size: 16px;
}

body a {
  text-decoration: underline;
  color: blue;
  margin: 10px 0;
}

img {
  width: 100%;
  height: auto;
}

.alert-success,
.alert-danger {
  margin: 10px 0;
}

.alert-success {
  background-color: lightgreen;
  color: blue;
  align-self: center;
  padding: 5px;
}

.alert-danger {
  background-color: #fff;
  border: 1px solid red;
  color: red;
  align-self: center;
  padding: 5px;
}

.container {
  max-width: 90%;
  margin: 10px auto;
}

.container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.header {
  border: 1px solid red;
  display: flex;
  align-items: cen;
  justify-content: space-between;
}

.header > * {
  flex: 1;
}

.logo {
  flex: 1;
}

.logo a {
  font-size: 24px;
  font-weight: 600;
}

.navbar {
  flex: 2;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 10px;
  flex: 1;
}

.nav-list .nav-item a {
  text-decoration: none;
  font-size: 12px;
  color: blue;
  font-weight: 500;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px 10px;
}

.nav-list .nav-item button {
  color: #fff;
  background-color: blue;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.new_user {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.new_user > * {
  width: 100%;
}

.new_user > * input[type=text],
.new_user > * input[type=password],
.new_user > * input[type=email] {
  outline: none;
  border: 1px solid grey;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
}

.new_user > * input[type=submit] {
  background-color: blue;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
